{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Resume Reader Application</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="jumbotron text-center bg-primary">
        <h1 class="text-light">Resume Reader Application</h1>
        <p class="text-light">Upload Your Resume Here!</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center">Resume Uploaded List</h2>
                <br>
            </div>
            <div class="col-sm-12">
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Resume Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if resumes %}
                        {% for resume in resumes %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{resume.name}}</td>
                            <td><a href="{% url 'resumedetail' resume.id %}" class="btn btn-success btn-sm" role="button">See Detail</a></td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 text-center">
                <a href="{% url 'homepage' %}" class="btn btn-danger btn-sm" role="button">Home</a>
            </div>
        </div>
    </div>


    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>

</body>

</html>